* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--coldbg);
    font-family: var(--primary-font);
    font-size: 1rem;
}
.container h2 {
    padding: .4rem 1.2rem .4rem 1.2rem;
    letter-spacing: .05rem;
    color: var(--lighttext);
    text-transform: capitalize;
    border-radius: .4rem;
    background: var(--darkbg);
    text-align: center;
    margin: 1rem;
}

.container h2 span {
    text-transform: uppercase;
}

.btn-holder {
    display: flex;
    flex-direction: row;
    border-radius: .4rem;
    margin: .25rem;
}

.btn-container {
    display: flex;
    flex-direction: row;
    border-radius: .4rem;
    padding: .25rem;
}

.btn-container button {
    padding: .75rem;
    margin: .1rem;
    border: none;
    background: transparent;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .4rem;
    cursor: pointer;
}