:root {
    --lightbg: #fefefe;
    --coldbg: #f1f5f8;
    --navbg: #fefefe;
    --darkbg: #1d1d1d;

    --darktext: #2d2d2d;
    --lighttext: #efefef;

    --primary: #1258c0;
    --secondary: #6f6f6f;
    --success: #1c882e;
    --warning: #d6c100;
    --danger: #b10c0c;

    --light-shadow: rgba(0, 0, 0, 0.1);
    --dark-shadow: rgba(0, 0, 0, 0.3);
    --low-glow: rgba(255, 255, 255, 0.1);
    --low-darken: rgba(0, 0, 0, 0.1);
    --mid-glow: rgba(255, 255, 255, 0.3);
    --mid-darken: rgba(0, 0, 0, 0.3);
    --high-glow: rgba(255, 255, 255, 0.5);
    --high-darken: rgba(0, 0, 0, 0.5);
    --max-glow: rgba(255, 255, 255, 0.8);
    --max-darken: rgba(0, 0, 0, 0.8);

    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;

    --min-width: 480px;

    /* css variable change with js project localised vars */
    --padding-cssjs: 10px;
    --blur-cssjs: 10px;
    --base-color-cssjs: #d6c100;

    /* counter variables */
    --counter-color: var(--lighttext)
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    background-color: var(--lightbg);
    font-size: 1rem;
}

li {list-style: none;}
a {text-decoration: none; padding: 0 .2rem; cursor: pointer;}
i {padding: 0 .5rem;}
button, .btn {font-family: var(--secondary-font); padding: 0 .2rem;}
ul {display: flex; flex-direction: row;}

h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, var(--warning), var(--primary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h2 {font-size: 2.25rem; text-transform: capitalize;}
h3 {font-size: 1.8rem; text-transform: capitalize;}
h4 {font-size: 1.25rem; text-transform: capitalize;}

.lighttext { color: var(--lighttext);}
.darktext { color: var(--darktext);}

.bg-low-darken { background-color: var(--low-darken);} 
.bg-mid-darken { background-color: var(--mid-darken);} 
.bg-high-darken { background-color: var(--high-darken);} 

.bg-low-glow { background-color: var(--low-glow);} 
.bg-mid-glow { background-color: var(--mid-glow);} 
.bg-high-glow { background-color: var(--high-glow);} 

.bg-primary { background-color: var(--primary); color: var(--lighttext);}
.bg-secondary { background-color: var(--secondary); color: var(--lighttext);}
.bg-success { background-color: var(--success); color: var(--lighttext);}
.bg-warning { background-color: var(--warning); color: var(--lighttext);}
.bg-danger { background-color: var(--danger); color: var(--lighttext);}

.text-primary { color: var(--primary); }
.text-secondary { color: var(--secondary); }
.text-success { color: var(--success); }
.text-warning { color: var(--warning); }
.text-danger { color: var(--danger); }

.hover-text-primary:hover { color: var(--primary); }
.hover-text-secondary:hover { color: var(--secondary); }
.hover-text-success:hover { color: var(--success); }
.hover-text-warning:hover { color: var(--warning); }
.hover-text-danger:hover { color: var(--danger); }
.hover-text-lowdarken:hover { color: var(--low-darken); }
.hover-text-middarken:hover { color: var(--mid-darken); }
.hover-text-highdarken:hover { color: var(--high-darken); }
.hover-text-lowlgow:hover { color: var(--low-glow); }
.hover-text-midglow:hover { color: var(--mid-glow); }
.hover-text-highglow:hover { color: var(--high-glow); }

.hover-primary:hover { background-color: var(--primary); color: var(--lighttext);}
.hover-secondary:hover { background-color: var(--secondary); color: var(--lighttext);}
.hover-success:hover { background-color: var(--success); color: var(--lighttext);}
.hover-warning:hover { background-color: var(--warning); color: var(--lighttext);}
.hover-danger:hover { background-color: var(--danger); color: var(--lighttext);}
.hover-lowdarken:hover { background-color: var(--low-darken); color: var(--lighttext);}
.hover-middarken:hover { background-color: var(--mid-darken); color: var(--lighttext);}
.hover-highdarken:hover { background-color: var(--high-darken); color: var(--lighttext);}
.hover-lowlgow:hover { background-color: var(--low-glow); color: var(--lighttext);}
.hover-midglow:hover { background-color: var(--mid-glow); color: var(--lighttext);}
.hover-highglow:hover { background-color: var(--high-glow); color: var(--lighttext);}

.trans100 {transition: all 100ms ease-in-out;}
.trans150 {transition: all 150ms ease-in-out;}
.trans200 {transition: all 200ms ease-in-out;}
.trans250 {transition: all 250ms ease-in-out;}
.trans300 {transition: all 300ms ease-in-out;}

.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 60vw;
    top: 0;
    min-width: var(--min-width);
    position: relative;
    align-items: center;
}

/* Top Nav Styles Global */
nav {
    z-index: 100;
    height: 3rem;
    width: 100%;
    display: flex;
    position: absolute;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-grow: 1;
    padding: 0 2rem 0 2rem;
}

.nav-container h4 {
    background-image: linear-gradient(45deg, var(--warning), var(--primary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: .5;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-links a, .nav-btn {
    position: relative;
    padding: .5rem;
    margin: 0 .2rem 0 .2rem;
    border-radius: .4rem;
    border: none;
    text-transform: uppercase;
    background: transparent;
    color: var(--darktext);
    font-weight: 700;
}

/* Library main page styles */

.lib-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
    min-width: var(--min-width);
    margin: 1rem auto;
}

.lib-list {
    padding: .45rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.lib-list li {
    margin: .4rem;
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: .4rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--lightbg);
    box-shadow: .5rem .5rem 32px var(--light-shadow);
}

.lib-list h3, .lib-list p {text-align: center; padding: .5rem;}

.lib-list a {
    margin: 0;
    padding: .4rem;
    display: flex;
    align-items: center;
    justify-content:center;
}

/* drum-kit styles */

.dj-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 90%;
    max-width: 640px;
    height: auto;
    aspect-ratio: 21 / 9;
    border-radius: .4rem;
    box-shadow: 0 0 .3rem var(--mid-darken);
    background-image: url(../src/images/schulte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 90%;
}

.btn-holder {
    display: flex;
    flex-direction: row;
    border-radius: .4rem;
    margin: .25rem;
}

.text-holder {
    display: flex;
    margin: 1.25rem;
    flex-direction: column;
    border-radius: .4rem;
    justify-content: center;
    align-items: center;
}

.key {
    position: relative;
    display: flex;
    height: 64px;
    margin: 0 .25rem 0 .25rem;
    aspect-ratio: 1 / 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--darkbg);
    border-radius: .4rem;
    border: 1px solid var(--secondary);
    color: var(--lighttext);
    transition: all 50ms ease-in-out;
}

.key span {
    color: var(--secondary);
}

.playing {
    transform: scale(1.2);
    box-shadow: 0 0 2rem var(--primary);
    border: 1px solid var(--primary);
}

.playing kbd {
    color: var(--primary);
}

.key kbd {
    font-size: 2rem;
    font-weight: 700;
}

/* Color flipper styles */

.flipper-h2 {
    padding: .4rem 1.2rem .4rem 1.2rem;
    letter-spacing: .05rem;
    color: var(--lighttext);
    text-transform: capitalize;
    border-radius: .4rem;
    background: var(--darkbg);
    text-align: center;
    margin: 1rem;
}

.container h2 span {
    text-transform: uppercase;
}

.btn-holder {
    display: flex;
    flex-direction: row;
    border-radius: .4rem;
    margin: .25rem;
}

.btn-container {
    display: flex;
    flex-direction: row;
    border-radius: .4rem;
    padding: .25rem;
}

.btn-container button {
    padding: .75rem;
    margin: .1rem;
    border: none;
    background: transparent;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .4rem;
    cursor: pointer;
}

/* Analog clock styles */

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    max-width: 50vw;
    aspect-ratio: 1 / 1;
    background-color: black;
    border-radius: 3rem;
    margin: 2rem auto;
    position: relative;
    /* to account for horizontal divs going from left -> right instead of top to bottom */
    box-shadow: 0 0 .4rem .2rem var(--mid-darken);
}

.clock-digital {
    z-index: 1;
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 25% 0;
    width: 40%;
    padding: .25rem;
    font-size: 1.75rem;
    color: var(--lighttext);
}

.clock-digital span {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.clock-center {
    z-index: 1;
    position: absolute;
    padding: 0;
    margin: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: var(--primary);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    /*
    rotate entire body 90deg to accomadate orientation
    account for the height of the clock hands
    has to be half of .hand height
    */
    transform: rotate(90deg) translateY(-5px);
}

/* controlled part of the hand */
.hand {
    display: flex;
    position: absolute;
    align-items: center;
    width: 50%;
    height: 10px;
    top: 50%;
    /* changes where the .inner-hand is aligned to */
    justify-content: end;
    transform-origin: 100%;
    /* transition: all 250ms;
    transition-timing-function: cubic-bezier(0, 1.25, 0, 1); */
}

/* visible part of the hand */
.inner-hand {
    position: relative;
    height: 100%;
    background: var(--max-glow);
    transform-origin: 100%;
}

.hand-val {
    font-size: .5rem;
    padding: .5rem;
    color: white;
}

.h {width: 60%; height: 60%;}
.m {width: 75%; height: 40%;}
.s {width: 90%; height: 20%;}

/* CSS Variables syles */

.controls {
    margin: .4rem;
    padding: .4rem;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--lighttext);
    border-radius: .4rem;
    background-color: var(--darkbg);
}

.controls-group {
    margin: .4rem;
    padding: .4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    border-radius: .4rem;
}

.cssvars-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: var(--padding-cssjs);
    width: 100%;
    height: auto;
    aspect-ratio: 21 / 9;
    border-radius: .4rem;
    box-shadow: 0 0 .3rem .3rem var(--base-color-cssjs);
    background-color: var(--base-color-cssjs);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(var(--blur-cssjs));
}

.cssvars-h2 {text-align: center;}
.cssvars-h2 span.hl {
    color: var(--base-color-cssjs);
    filter: blur(var(--blur-cssjs));
}

/* Flex-Panels styles */

.flex-panels {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 10 0 0;
    height: auto;
    min-height: 100vh;
    background-color: var(--darkbg);
    box-shadow: inset 0 0 4rem var(--mid-glow);
}
.panels {
    overflow: hidden;
    display: flex;
    flex: 10 0 0;
    flex-wrap: wrap;
    flex-direction: row;
}
.panel {
    display: flex;
    flex: 10 0 0;
    min-width: 140px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .85;
    filter: blur(.02rem);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-size: 1.2rem;
    color: var(--lighttext);
    text-transform: uppercase;
    text-shadow: 0 0 .4rem var(--max-darken);
    transition:
        font-size 250ms cubic-bezier(0, 1.8, .2, 1),
        flex 750ms cubic-bezier(0, 1.8, .2, 1),
        background 750ms cubic-bezier(0, 1.8, .2, 1),
        transform 750ms cubic-bezier(0, 1.8, .2, 1),
        opacity 200ms ease-in-out,
        box-shadow 200ms ease-in-out,
        blur 250ms ease-in-out;
}

.panel1 {background-image: url(../src/images/books.jpg);}
.panel2 { background-image: url(../src/images/space.jpg);}
.panel3 {background-image: url(../src/images/hologram.jpg);}
.panel4 {background-image: url(../src/images/super.jpg);}
.panel5 { background-image: url(../src/images/cool.jpg);}
.panel6 {background-image: url(../src/images/roboarm.jpg);}

.panel >* {
    display: flex;
    width: 100%;
    flex: 10 0 0;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: all 150ms ease-in-out;
}

.panel:hover{
    opacity: 1;
    filter: blur(0);
    box-shadow: inset 0 0 2rem var(--low-darken);
}

.panel > *:first-child {transform: translateY(-50%); opacity:0;}
.panel > *:last-child {transform: translateY(50%); opacity:0;}
.panel.active > *:first-child, .panel.active > *:last-child { transform: translateY(0); opacity:.8;}
.panel.open {font-size: 2.5rem; flex: 20 0 0; filter: blur(0);}

/* Counter styles */

.counter {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 50vh;
}

.counter-box {
    display: flex;
    width: 100%;
    height: 50%;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    background-color: var(--mid-darken);
    box-shadow: 0 0 .8rem 0 var(--mid-darken);
}
.counter-controlbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.counter-box >*{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter-box .count {
    width: 100%;
    flex: 2;
    color: var(--counter-color);
    font-family: var(--secondary-font);
    background-color: var(--mid-glow);
    font-size: 4rem;
}

.counter-actions {
    flex-direction: row;
    width: 100%;
    flex: 1;
    text-transform: uppercase;
}

.action-button {
    display: flex;
    position: relative;
    flex: 3;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--secondary);
    transition:
        color 150ms ease-in-out,
        background 150ms ease-in-out;
}
.action-link {
    color: var(--secondary);
    padding: .4rem 1rem;
    transition: all 150ms ease-in-out;
}
.action-link:hover {
    text-decoration: underline;
}
.action-button:hover {
    color: var(--high-glow);
}